html,
body {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* header area */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.25em;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* 14px; */
    line-height: 1.07em; /* 15px; */
    letter-spacing: -0.03em;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em; /* 3px; */
    color: #0E0E0E;
}

.logo img {
    width: 1.65em; /* 23px; */
    height: 1.65em; /* 23px; */
}

.menu {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem; /* 12px; */
    line-height: 1.25em; /* 15px; */

    display: flex;
    flex-direction: row;
    gap: 3.33em; /* 40px; */
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: #090909;
}

/* main area */
main {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    padding-bottom: 2.69em; /*  43px; */
}

.hero-article {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;

    color: #fff;
    background-color: #0E0E0E;
    background-image: url("../images/mobile-images/article-image-hero.png");
    background-size: cover;

    height: 18.31em; /* 293px;*/

    padding: 0 1.25em 1.56em 1.25em; /* 0 20px 25px 20px;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article-date-hero {
    text-transform: uppercase;

    font-weight: 400;
    font-size: 0.75rem; /* 12px; */
    line-height: 1.25em; /* 15px; */
}

h1, p {
    margin: 0;
    padding-top: .5em; /*8px;*/
}

.hero-article h1 {
    font-weight: 700;
    font-size: 2rem; /* 32px; */
    line-height: 108.2%;
    letter-spacing: -0.03em;

    width: 80%;
}

.articles {
    padding: 2.125em 1.25em; /* 34px 20px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 2.5em; /* 40px; */
}

.article {
    width: 100%;
}

.article-image {
    border-radius: 0.18em; /*3px;*/
    width: 100%;
    background-size: cover;
}

.article-date {
    margin-top: 1em; /* 14px;*/
    color: #000000;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875em; /* 14px; */
    line-height: 1.286em; /* 18px; */
}

.article-title {
    margin-top: 0.583em; /* 14px; */
    color: #141414;

    font-weight: 700;
    font-size: 1.5rem; /* 24px; */
    line-height: 1.08;
}

.article-body {
    margin-top: 0.563em; /* 9px;*/
    color: #505050;

    font-weight: 400;
    font-size: 1rem; /*16px;*/
    line-height: 1.25;
}

.view-more {
    margin: 0 auto;
}

.view-more a {
    font-weight: 700;
    font-size: 1rem; /* 16px;*/
    line-height: 1.25em; /* 20px;*/

    color: #000000;
    text-decoration-line: underline;
    text-transform: capitalize;
}

/* footer area */
footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;

    width: 100%;
    background-color: #202020;

    padding-top: 2.32em; /*37px;*/
    padding-bottom: 2.32em; /*37px;*/

    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-text {
    color: #ECECEC;

    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.75rem; /* 12px;*/
    line-height: 1.08;
    letter-spacing: -0.03em;
}

.footer-copyright {
    color: #D7D7D7;

    font-weight: 400;
    font-size: 0.75rem; /* 12px;*/
    line-height: 1.25;
}

/* about me page */
.details {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;

    /*height: 18.31em; !* 293px;*!*/

    padding: 2.5em 1em 1.56em 1.25em; /* 0 20px 25px 20px;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

.details img {
    padding: 1em 0;
}

.center {
    margin: 0 auto;
}

.profile-image {
    width: 182px;
    height: 182px;
}

@media (min-width: 1085px) {

    /* header area */
    header {
        padding: 1.5em 2.68em;
    }

    .logo {
        font-size: 1.25rem; /* 20px; */
    }

    .logo img {
        width: 1.7em; /* 34px; */
        height: 1.7em; /* 34px; */
    }

    .menu {
        font-size: 1rem; /*16px;*/
        line-height: 1.25em; /* 20px;*/
    }


    /* main area */
    main {
        padding-bottom: 3.19em; /*51px;*/
    }

    .hero-article {
        background-image: url("../images/desktop-images/blog-image-hero.png");
        height: 30.5em; /* 488px;*/
        padding: 0 3.2em 3.68em 3.2em; /*0 53px 59px 53px;*/
    }

    .article-date-hero {
        font-size: 1rem; /*16px;*/
        line-height: 1.25em; /* 20px;*/
    }

    .hero-article h1 {
        font-size: 2.5rem; /* 40px;*/
    }

    .hero-article p {
        font-size: 1rem; /*16px;*/
        line-height: 1.25em; /* 20px;*/
        width: 60%;
    }

    .articles {
        padding: 3.312em 3.312em; /*53px 53px;*/
        grid-template-columns: repeat(auto-fill, minmax(19.31em, 1fr));
        grid-gap: 2.875em; /* 46px;*/
    }

}