html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 550px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 18px;
    height: 81px;
}

.small-icon {
    width: 33px;
    height: 34px;
}

.logo {
    width: 84px;
    height: 42px;
}

/* main */
.main {
    flex-grow: 1;
    /*background: url('images/dog-teddy.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0 8px;
    padding-left: 12px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-top {
    font-weight: 600;
    text-align: center;

    width: 234px;
    height: 117px;
    margin-left: 3px;
    margin-top: 51px;

    border-radius: 11px;
    border: 8px solid;
    transform: rotate(-30deg);
}

#txt-like {
    display: none;
}

.green {
    font-size: 85px;
    line-height: 95px;

    background: -webkit-linear-gradient(270deg, #29D78A 0%, #6EF2F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.red {
    font-size: 72px;
    line-height: 81px;

    /*background: -webkit-linear-gradient(270deg, #F9655C 0%, #F83574 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/

    border: 7px solid;
    border-image-source: linear-gradient(270deg, #F9655C 0%, #F83574 100%);
}



.main-bottom > h1 {
    padding: 0;
    margin: 0;

    color: #F8F8F8;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}

.main-bottom > p {
    padding: 0;
    margin: 8px 0 17px 0;

    color: #B7B7B7;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 24px;
}

.img-btn {
    border-radius: 50%;
    background-color: white;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-like:hover {
    background-color: #DBFFF4;
}

#btn-dislike:hover {
    background-color: #FFE7EF;
}